*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea


# APK构建产物
*.apk
*.aab
/app/release/
/app/debug/
/app/production/
/app/staging/
# IDE配置
.idea/misc.xml
# 构建输出
output.json